body{
    background-color: aquamarine;
}
.container{
    height: 450px;
    border: 2px solid brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.child1{
    background-color: blanchedalmond;
}
.child2{
    background-color: dimgray;
}
.child3{
    background-color: antiquewhite;
}
.child4{
    background-color: ivory;
   
}
.child1,.child2,.child3,.child4{
    height: 300px;
    width:250px;
    border: 1px solid black;
    
    margin: 15px;

    
}